<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChoreApplication.Properties.Settings.ChoreApplicationConnectionString"
            connectionString="Data Source=choreapplication.database.windows.net;Initial Catalog=ChoreApplication;Persist Security Info=True;User ID=bi408f19"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>