<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChoreApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ChoreApplication.Properties.Settings>
            <setting name="LongDateFormat" serializeAs="String">
                <value>dd-MM-yyyy HH:mm</value>
            </setting>
            <setting name="ShortDateFormat" serializeAs="String">
                <value>dd/MM HH:mm</value>
            </setting>
            <setting name="StandardFont" serializeAs="String">
                <value>Microsoft Sans Serif, 9.75pt</value>
            </setting>
            <setting name="StandardFontBold" serializeAs="String">
                <value>Microsoft Sans Serif, 9.75pt, style=Bold</value>
            </setting>
            <setting name="TextDateFormat" serializeAs="String">
                <value>HH:mm d. MMMM</value>
            </setting>
            <setting name="StandardFontTitle" serializeAs="String">
                <value>Microsoft Sans Serif, 15.75pt</value>
            </setting>
            <setting name="StandardFontSubtitle" serializeAs="String">
                <value>Microsoft Sans Serif, 14.25pt</value>
            </setting>
        </ChoreApplication.Properties.Settings>
    </applicationSettings>
</configuration>